* {
    margin: 0px
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#button_get {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text_output {
    padding: 50px;
}

#image_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image_div img {
    max-width: 100%;
}