* {
    margin: 0px;
}

@media (min-width: 1280px) {
    #pageTitle {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 50px;
        margin-left: 20px;
        padding: 10px; 
        z-index: 10;
        color: rgba(255, 255, 255, 1);
    }

    #pageTitle h2 {
        display: inline;
        font-size: 3rem;
        font-family: 'Lekton', sans-serif;
        font-weight: 700;
    }

    select {
        display: inline;
        border: transparent;
        border-bottom: 3px solid rgba(255, 255, 255, 1);
        padding: 0px;
        margin: 0px;
        background-color: transparent;
        font-size: 3rem;
        font-family: 'Lekton', sans-serif;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select option {
        background-color: transparent;
        font-size: 3rem;
        font-family: 'Lekton', sans-serif;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
    }

    #image_div {
        position: absolute;
        top: 0%; 
        width: 100vw; 
        height: 100vh;
    }

    #image_div img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        z-index: -1;
    }

    .description {
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 0;
        justify-content: center;
        padding-bottom: 20px;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: rgba(255, 255, 255, 0.7);
        animation-name: FadeOutIn;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        -moz-animation-name: FadeOutIn;
        -moz-animation-duration: 4s;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-name: FadeOutIn;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
    }

    .fa-caret-down {
        padding-left: 5px;
        padding-right: 5px;
    }

    @keyframes FadeOutIn {
        0% {opacity: 0}
        50% {opacity: 1}
        100% {opacity: 0}
    }

    .text {
        display: block;
        position: relative;
        margin-top: 100vh;
        width: 100vw;
        min-height: 40vh;
        max-height: 70vh;
        z-index: 10;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        overflow: scroll;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .text h3 {
        display: flex;
        justify-content: center;
        padding: 50px 15% 0px 15%;
        font-size: 1.5rem;
        font-family: 'Lekton', sans-serif;
    }

    #text_output {
        padding: 30px 20% 50px 20%;
        font-size: 1.5rem;
        font-family: 'Lekton', sans-serif; 
    }

    #text_output a {
        color: rgba(255, 255, 255, 1)
    }

    footer {
        height: 30px;
        width: 100vw;
        background-color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer p {
        font-family: sans-serif;
        color: rgba(250, 250, 250, 1);
        padding-left: 30px;
    }

    .fa-heart {
        color: rgba(231, 12, 56, 0.9);
    }

    footer .year {
        padding-left: 0px;
        padding-right: 30px;
    }
}

@media (max-width: 1279px) {
    #pageTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30vh;
        background-image: linear-gradient(to left, rgba(0, 115, 195, 1), rgba(0, 214, 171, 1));
        color: rgba(255, 255, 255, 0.9);
    }

    #pageTitle h2 {
        display: inline;
        font-size: 2rem;
        font-family: 'Lekton', sans-serif;
        font-weight: 700;
    }

    select {
        display: inline;
        border: transparent;
        border-bottom: 3px solid rgba(255, 255, 255, 0.8);
        padding: 0px;
        margin: 0px;
        background-color: transparent;
        text-align: center;
        font-size: 2rem;
        font-family: 'Lekton', sans-serif;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.9);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select option {
        background-color: transparent;
        font-size: 3rem;
        font-family: 'Lekton', sans-serif;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.9);
    }

    #image_div {
        width: 100vw; 
    }

    #image_div img {
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    .description {
        display: none;
    }

    #textSection {
        margin-top: -6px;
    }

    .text {
        display: block;
        width: 100vw;
        min-height: 40vh;
        max-height: 70vh;
        z-index: 10;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: scroll;
    }

    .text h3 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.2rem;
        font-family: 'Lekton', sans-serif;
    }

    #text_output {
        padding: 30px 20% 50px 20%;
        font-size: 1rem;
        font-family: 'Lekton', sans-serif; 
    }

    #text_output a {
        color: rgba(255, 255, 255, 1)
    }

    footer {
        height: 30px;
        width: 100vw;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p {
        font-family: sans-serif;
        font-size: 0.8rem;
        color: rgba(250, 250, 250, 1);
    }

    .fa-heart {
        color: rgba(231, 12, 56, 0.9)
    }

    footer .year {
        display: none;
    }
}